<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  {% load static %}
  <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>
<body>
<div class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Link</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">

  {% block content %}


  {% endblock %}
</div>
<script src="{% static 'bootstrap.min.js' %}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
